h3
	@extend %small-bold
	color: $accent
	text-align: center

.logo-lockup
	max-width: 780
	margin: 0 auto
	+display(flex)
	+align-items(center)
	+justify-content(space-around)

	.logo-img
		+size(128px)
		background: url(/assets/img/logo.png)
		order:3

	[class^="icon-"]
		+size(100px)
		background: $bgcolor
		border-radius: 50%

		&.icon-pencil
			order: 1
		&.icon-mouse
			order: 2
		// Logo
		&.icon-browser
			order: 4
		&.icon-pencil
			order: 5